/* Start Variables */
:root {
  /* Primary */
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);
  /* Neutral */
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
  /* Main Transition */
  --MainTransition: 0.3s;
}
/* Font size (paragraph): 16px */
/* End Variables */
/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* a {
  text-decoration: none;
} */
ul {
  list-style: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  font-family: 'Red Hat Display', sans-serif;
}
/* Lager Screen background */
@media (min-width: 992px) {
  body {
    background: url(images/pattern-background-desktop.svg) no-repeat;
    background-size: contain;
    background-color: var(--PaleBlue);
  }
}
/* Mobile Background */
@media (max-width: 991px) {
  body {
    background: url(images/pattern-background-mobile.svg) no-repeat;
    background-size: contain;
    background-color: var(--PaleBlue);
  }
}
/* End Global Rules */
/* Start hidden H1 */
.hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; 
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
/* Start The Summary Card */
  .container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    background-color: white;
    padding-bottom: 55px;
    border-radius: 20px;
  }
  @media (max-width: 480px) {
    .container {
      width: 90%;
    }
  }
  /* Start The header Of The Card */
  .image {
    max-width: 100%;
    border-radius: 20px 20px 0 0;
  }
/* Start The Body Of The Card */
  .content {
    text-align: center;
    padding: 30px 45px 0;
  }
  .title {
    font-weight: 900;
    font-size: 1.75rem;
    padding: 15px 0 ;
    color: var(--DarkBlue);
  }
  .description {
    font-size: 1rem;
    color: var(--DesaturatedBlue);
    line-height: 25px;
  }
  .annual-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--VeryPaleBlue);
    border-radius: 10px;
    width: 80%;
    padding: 25px;
    margin: 15px auto 45px;
  }
  .price {
    display: flex;
    gap: 25px;
    align-items: center;
  }
  .price li {
    line-height: 25px;
  }
  .price li:first-child {
    color: var(--DarkBlue);
    font-weight: 900;
  }
  .price li:last-child {
    color: var(--DesaturatedBlue);
  }
  .annual-plan .change {
    color: var(--BrightBlue);
    font-weight: 700;
    transition: var(--MainTransition);
    font-size: 0.877rem;
  }
  .annual-plan .change:hover {
    text-decoration: none;
    opacity: 0.9;
  }
  /* Start The Footer Of The Card */
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.867rem;
  }
  .payment {
    padding: 15px;
    background-color: var(--BrightBlue);
    border-radius: 10px;
    color: white;
    box-shadow: hsl(223deg 47% 83%) 0px 15px 20px 1px;;
    transition: var(--MainTransition);
  }
  .payment:hover {
    opacity: 0.65;
  }
  .cancel {
    color: var(--DesaturatedBlue);
    transition: var(--MainTransition);
  }
  .cancel:hover {
    color: var(--DarkBlue);
  }
/* End The Summary Card */